<h1>Lessons#edit</h1>
<p>Find me in app/views/lessons/edit.html.erb</p>

<%= simple_form_for @lesson do |f| %>

	<%= f.association :member %>
	<%= f.input :file_name %>
	<%= f.input :subject %>
	<%= f.input :upload_date %>
	<%= f.input :topic %>
	<%= f.button :submit, "Edit module" %>

<% end %>